@page "/"

<h1 class="text-center	p-5">Bem-Vindo à minha aplicação de testes em blazor </h1>


<p class="text-center p-5">Este projeto consiste em criar uma base de dados que fica armazenado numa lista e assim conseguir criar, eliminar, editar e consultar produtos que o utilizador quiser. </p>