@inherits LayoutComponentBase

<div class="px-5 vh-100 d-flex flex-column">
     
        <div class="bg-black text-white text-center p-3">
        <NavLink class="text-decoration-none" href="/">Página Inicial</NavLink> |
        <NavLink class="text-decotarion-none" href="InserirProdutos">Inserir Produtos</NavLink> |
        <NavLink class="text-decoration-none" href="ConsultarProdutos">Consultar Stock</NavLink> |
        <NavLink class="text-decoration-none" href="AlterarProduto">Alterar Produto</NavLink> |
        <NavLink class="text-decoration-none" href="ApagarProduto"> Apagar Produtos</NavLink> |
        <NavLink class="text-decoration-none" href="CrudProdutos">Crud Produtos</NavLink>
		
         </div>

        <div class="py-3 h-100">
            @Body
        </div>

        <div class="bg-black text-white text-center p-3">
		O meu primeiro projeto Blazor para além do estágio curricular que utilizei c# no GEF da Inovar+

        </div>
   
</div>
